<!--/*
========================================================
; Title: Assignment 9.3 - Bob's Computer Repair Shop
; Author: Gustavo Roo Gonzalez
; Date: 05 March 2022
; Description: Bob's Computer Repair Shop with Angular
========================================================
*/-->

<div align="center">
  <mat-card-title class="card-title-icon">
    <mat-icon color="primary">navigation</mat-icon>
    <mat-icon color="primary">phone</mat-icon>
  </mat-card-title>
  <br />
  <mat-card-content class="align-center">
    <p>123 Main St</p>
    <p>Orlando, Florida</p>
    <p>Phone: 1-800-123-4567</p>
    <p>Email: BobsComputerRepair@email.com</p>
    <br />
    <p>Contact us by email or phone for any questions or inquiries.</p>
  </mat-card-content>
</div>
