/*
========================================================
; Title: Assignment 9.3 - Bob's Computer Repair Shop
; Author: Gustavo Roo Gonzalez
; Date: 05 March 2022
; Description: Bob's Computer Repair Shop with Angular
========================================================
*/

.text-center {
  text-align: center;
}

.home-container {
  margin: auto;
}

.bobs-logo {
  height: auto;
  width: 80%;
  border-radius: 50px;
}
